/* body */
.layout:has(.container--noHeader) .header {
  display: none;
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 0;
}

.layout:has(.container--noHeader){
  display: flex;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--color-grisFondo);
  color: var(--color-oscuro);
  display: flex;
}

#app:has(.login) {
  background-color: var(--color-grisMedio);
}

