/* body */
.layout:has(.container--noHeader) .header {
  display: none;
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
.layout:has(.container--noHeader){
  grid-template-rows: 0 1fr;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--color-grisFondo);
  color: var(--color-oscuro);
  display: flex;
}

#app:has(.login) {
  background-color: var(--color-grisMedio);
}

