<main class="container">
    <div class="explicacion">
        <p class="explicacion__titulo">Notificaciones</p>
        <p class="explicacion__subtitulo">Vista dedicada a las notificaciones</p>
    </div>
    <div class="filtros">
        <button class="boton">Todos</button>
        <button class="boton boton--sinfondo">Leídas</button>
        <button class="boton boton--sinfondo">No leídas</button>
    </div>
    <div class="tarjeta">
        <div class="tarjeta--introduccion">
            <i class="ri-parent-line"></i>
            <div>
                <p>Familia Quintero</p>
                <div class="tarjeta--fila">
                    <i class="ri-map-pin-line"></i>
                    <p>Palonegro, Santander</p>
                </div>
            </div>
            <div>
                <span>Hace 10 min</span>
                <span class="badge">Rechazado</span>
            </div>
        </div>
        <div class="tarjeta--fila">
            <i class="ri-message-2-line"></i>
            <div>
                <span>Motivo</span>
                <p>Integrantes no identificados correctamente en el regi...</p>
            </div>
        </div>
    </div>
    <div class="tarjeta">
        <div class="tarjeta--introduccion">
            <i class="ri-parent-line"></i>
            <div>
                <p>Familia Quintero</p>
                <div class="tarjeta--fila">
                    <i class="ri-map-pin-line"></i>
                    <p>Palonegro, Santander</p>
                </div>
                <div class="tarjeta--fila">
                    <i class="ri-calendar-event-line"></i>
                    <p>30/10/2025</p>
                </div>
            </div>
            <div>
                <span>Hace 15 min</span>
                <span class="badge">Rechazado</span>
            </div>
        </div>
    </div>
    <div class="tarjeta">
        <div class="tarjeta--introduccion">
            <i class="ri-parent-line"></i>
            <div>
                <p>Familia Quintero</p>
                <div class="tarjeta--fila">
                    <i class="ri-map-pin-line"></i>
                    <p>Palonegro, Santander</p>
                </div>
            </div>
            <div>
                <span>Hace 30 min</span>
                <span class="badge">Completado</span>
            </div>
        </div>
    </div>
</main>