.badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: var(--border-radius-botones);
  font-size: 0.70rem;
  font-weight: bold;
  white-space: nowrap;
  font-family: var(--fuente-contenido);
}

.badge--rechazado {
  background-color: var(--color-fondorojitranslucido);
  color: var(--color-rojizo);
}

.badge--completado,
.badge--aprobado {
  background-color: var(--color-fondoverdetranslucido);
  color: var(--color-verdoso);
}

.badge--pendiente,
.badge--devuelto {
  color: var(--color-primario);
  background-color: var(--color-fononaranjatranslucido);
}

.badge--enviado{
  background-color: var(--color-azulado-50);

}

@media (min-width: 768px) {
    .badge{
      font-size: var(--tamano-mediano);
    }
}