.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 8px;
    width: 100%;
    border-radius: 50px;
}
.banner--azul{
    background: linear-gradient(180deg, #80c6ff00  20%, var(--color-secundario) 120%);;
    color: var(--color-palido);
}
.banner__titulo{
    font-size: var(--tamano-grande);
}
.banner__span{
    font-family: var(--fuente-contenido);
    background-color: var(--color-blancotranslucido);
    padding: 5px 10px;
    border-radius: var(--border-radius-tarjetas);
    border: 1px solid var(--color-palido);
}