.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
} 

.container__imagen {
  max-width: 100%;
  border-radius: 10px;
}

.container__descripcion {
  color: var(--color-grisOscuro);
  font-size: var(--tamano-mediano);
  font-weight: bolder;
  width: 100%;
  text-align: center;
  font-family: var(--fuente-titulos);
}

.container__paginas{
  width: 100%;
}

.container__paginador{
  display: grid;
  grid-auto-flow: column;
  width: 100%;
}

#acordeon__container{
  transition: 0.3s;
}

@media screen and (min-width: 1000px) {
}