.explicacion {
  width: 100%;
  color: var(--color-oscuro);
  font-family: var(--fuente-titulos);
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-grisOscuro);
}
.explicacion__titulo {
  font-size: var(--tamano-medio-grande);
  font-weight: bolder;
  margin-bottom: 5px;
}
.explicacion__subtitulo {
  font-size: var(--tamano-mediano);
  color: var(--color-grisOscuro);
}

@media (min-width: 768px) {
  .span--grid{
    grid-column: span 2;
    width: 100%;
  }
}