.headerCont {
  width: 100%;
  /* padding: 10px; */
  height: fit-content;
  background-color: var(--color-grisFondo);
}

.header {
  display: flex;
  background-color: #0770CC;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: var(--altura-header);
  align-items: center;
  transform: ease 0.3s;
  height: fit-content;
}

.header__contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header__boton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.925);
  background-color: rgba(255, 255, 255, 0.637);
  cursor: pointer;
  aspect-ratio: 1;
  transition: 0.3s;

  position: relative;
}

.header__boton--padding {
  padding: 8px;
  height: 45px;
}

.header__boton--oscuro{
  background-color: rgba(217, 217, 217,0.4);
  border-color: rgba(255, 255, 255,0.2);
}
.header__boton--logo {
  padding: 0;
  border: none;
}

.header__icono {
  color: white;
  font-size: 20px;
  transition: 0.3s;
  pointer-events: none;
}

.header__imagen-logo {
  display: flex;
  height: 50px;
}

.header__texto {
  display: flex;
  flex-direction: column;
}

.header__subtitulo {
  color: white;
  font-size: var(--tamano-mediano);
  font-family: var(--fuente-contenido);
}

.header__titulo {
  color: white;
  font-weight: bold;
  font-family: var(--fuente-titulos);
  font-size: var(--tamano-medio-grande);
  letter-spacing: 9%;
}

.header__boton--notificacion {
  position: relative;
}

.header__indicador {
  position: absolute;
  right: 3px;
  top: 8px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.header__boton:active {
  background-color: white;
}

.header__boton:active .header__icono {
  color: #0770CC;
}