.header {
  display: flex;
  background-color: #0770CC;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__boton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.925);
  background: rgba(255, 255, 255, 0.637);
  cursor: pointer;
}

.header__boton--padding {
  padding: 8px;
  height: 50px;
}

.header__boton--logo {
  padding: 0;
  border: none;
}

.header__icono {
  color: white;
  font-size: 20px;
}

.header__imagen-logo {
  width: 50px;
}

.header__texto {
  display: flex;
  flex-direction: column;
}

.header__subtitulo {
  letter-spacing: 10%;
  font-size: 16px;
  color: white;
  font-size: var(--tamano-mediano);
  font-family: var(--fuente-contenido);
}

.header__titulo {
  color: white;
  font-weight: bold;
  font-family: var(--fuente-titulos);
  font-size: var(--tamano-medio-grande);
  letter-spacing: 20%;
}

.header__boton--notificacion {
  position: relative;
}

.header__indicador {
  position: absolute;
  right: 3px;
  top: 8px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}