.container-historial {
    padding: 30px 20px 20px 20px;
    width: 100%;
}

/* .container-historial {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
} */

.container-historial .card-Cont {
    background-color: var(--color-palido);
    box-shadow: 0px 0px 5px var(--color-sombra);
    border-radius: 5px;
    padding: 20px 20px 60px 20px; /* padding top = 20px, padding bottom = 60px, padding left = 20px, padding right = 20px */

    display: flex;
    flex-direction: column;
    gap: 10px;

    position: relative;
}

/* Contenido de Usuario ________________________________________________________________ */

.container-historial .card-Cont .user-Cont {
    display: flex;
    /* align-items: center; */
    gap: 10px;
}

.card-Cont .user-Cont .user-div {
    width: 40px;
    height: 40px;

    /* forzar el alto y ancho */
    min-width: 40px;
    min-height: 40px;

    border-radius: 100%;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-Cont .user-Cont .user-div i {
    color: var(--color-palido);
    font-size: 20px;
}

.card-Cont .user-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-Cont .user-info .user-name {
    font-weight: bold;
    font-size: 22px;
}

.card-Cont .user-info .user-rol {
    color: var(--color-palido);
    /* font-size: 20px; */
    background: var(--color-secundario);
    padding: 2px 10px;
    border-radius: 50px;
    width: fit-content;
    /* text-wrap: nowrap; */
}

/* Contenido de Historial ________________________________________________________________ */

.container-historial .card-Cont .historial-Cont {
    display: grid;

    grid-template-columns: 30px 1fr;

    grid-template-areas:
        "side nameAction"
        "status status";
}

.container-historial .card-Cont .historial-Cont .historial-nameAction {
    grid-area: nameAction;

    display: flex;
    flex-direction: column;
    /* padding-left: 30px; */
    /* align-items: center; */
    gap: 10px;
}

.container-historial .card-Cont .historial-Cont .historial-side {
    grid-area: side;

    width: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 7px;
}

.card-Cont .historial-Cont .historial-side .historial-sideElement:nth-child(1) {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 5px;

    border: solid 2px var(--color-primario);
}

.card-Cont .historial-Cont .historial-side .historial-sideElement:nth-child(1) label {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.card-Cont .historial-Cont .historial-side .historial-sideElement:nth-child(2) {
    margin-left: 6.5px;
    width: 15px;
    height: 100%;
    border-left: 2px solid var(--color-grisMedio);
    border-bottom: 2px solid var(--color-grisMedio);
    border-bottom-left-radius: 12px;
}

.card-Cont .historial-Cont .historial-nameAction .name-Historial {
    font-weight: bold;
    font-size: 30px;
    position: relative;
}

.card-Cont .historial-Cont .historial-nameAction .name-historial__large {

    margin-top: 8px;
    font-size: 20px;
}

.card-Cont .historial-Cont .historial-nameAction .subname-Historial {
    font-weight: bold;
    color: var(--color-grisOscuro);
}

.card-Cont .historial-Cont .historial-nameAction .name-Description {
    font-weight: normal;
    font-size: 20px;
    position: relative;
}

.container-historial .card-Cont .status-Cont {
    grid-area: status;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.container-historial .card-Cont .status-Cont .status-Element {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
}

.card-Cont .status-Cont .status-Element .status-color {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: var(--color-primario);
}

.card-Cont .status-Cont .status-Element .status-color.status-activo {
    background: var(--color-verdoso);
}

.card-Cont .status-Cont .status-Element .status-color.status-inactivo {
    background: var(--color-rojizo);
}

.container-historial .card-Cont .action-Cont {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    position: relative;
}

/* Contenido Fecha ____________________________________________________________________ */

.container-historial .card-Cont .date-Cont {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* Botones ________________________________________________________________________ */

.container-eliminar-panel .botonera--panel__Eliminacion,
.container-acciones-panel .botonera--panel__Acciones {

    display: flex;
    gap: 5px;
}

.container-eliminar-panel .botonera--panel__Eliminacion button,
.container-acciones-panel .botonera--panel__Acciones button {
    padding: 5px 15px;
    border-radius: 100px;
    display: flex;
    gap: 5px;
    border: none;
    cursor: pointer;
}

.container-historial .card-Cont .borrarHistorial,
.container-eliminar-panel .btn_borrar,
.container-acciones-panel .btnRechazar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-wrap: nowrap;
    color: var(--color-palido);
    background-color: var(--color-rojizo);
}


.container-eliminar-panel .btnSelectAll,
.container-acciones-panel .btnSelectAll {

    color: var(--color-palido);
    text-wrap: nowrap;
    background-color: var(--color-primario);
}

.container-acciones-panel .btnAprobar {

    color: var(--color-palido);
    text-wrap: nowrap;
    background-color: var(--color-verdoso);
}

.container-eliminar-panel .btnCerrar,
.container-acciones-panel .btnCerrar {

    color: var(--color-palido);
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Panel de eliminación historial ___________________________________________________________*/

.eliminar-panel,
.acciones-panel {

    width: 100%;
    height: 45px;
    background-color: var(--color-secundario);
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    align-items: center;
    transition:
        height 0.3s ease-in-out 0s,
        width 0.18s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0.2s;
}

.eliminar-panel.ocultar_opciones,
.acciones-panel.ocultar_opciones {

    height: 0;
    width: 45px;
    opacity: 0;
    transition:
        height 0.3s ease-in-out 0.45s,
        width 0.18s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0.25s;
}

/*  */

.container-eliminar-panel,
.container-acciones-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 10px 10px 30px;
    width: 100%;
    transition: 0s ease-in-out 0.2s;
}

.eliminar-panel.ocultar_opciones .container-eliminar-panel,
.acciones-panel.ocultar_opciones .container-acciones-panel {

    padding: 0;
}

/*  */

.container-eliminar-panel *,
.container-acciones-panel * {
    opacity: 1;
    transition: 0.2s ease-in-out 0.4s;
    transition-delay: 0.5s;
}

.eliminar-panel.ocultar_opciones .container-eliminar-panel *,
.acciones-panel.ocultar_opciones .container-acciones-panel * {
    opacity: 0;
    transition: 0.2s ease-in-out;
    /* transition-delay: 0s; */
}

/*  */

.container-eliminar-panel .contadorSpan,
.container-acciones-panel .contadorSpan {

    color: var(--color-palido);
    text-wrap: nowrap;
}

@media (max-width: 765px) {

  .container.container--noHeader {
    padding: 12px;
  }

  .form__doubleCont,
  .form__doubleinput {
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  .form__doubleinput .section__input {
    /* position: absolute; */
    padding-left: 35px;
  }
}


@media (max-width: 680px) {

    .eliminar-panel.ocultar_opciones,
    .acciones-panel.ocultar_opciones {

        height: 0;
        width: 80px;
        opacity: 0;
        border-radius: 100px;
        transition: height 0.3s ease-in-out 0.45s, width 0.18s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.25s, border-radius 0.5s ease-in-out 0.1s;
    }

    .eliminar-panel,
    .acciones-panel {

        height: 80px;
        border-radius: 20px;
    }

    .container-eliminar-panel,
    .container-acciones-panel {

        flex-direction: column;
    }
    

    .container-eliminar-panel .btnCerrar,
    .container-acciones-panel .btnCerrar {

        position: absolute;
        left: 30px;
    }
}
