.container-historial {

    padding: 30px 20px 20px 20px;
    width: 100%;
}

/* .container-historial {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
} */

.container-historial .card-Cont {
    background-color: var(--color-palido);
    box-shadow: 0px 0px 5px var(--color-sombra);
    border-radius: 5px;
    padding: 20px 20px 60px 20px; /* padding top = 20px, padding bottom = 60px, padding left = 20px, padding right = 20px */

    display: flex;
    flex-direction: column;
    gap: 10px;

    position: relative;
}

/* Contenido de Usuario ________________________________________________________________ */

.container-historial .card-Cont .user-Cont {

    display: flex;
    /* align-items: center; */
    gap: 10px;
}

.card-Cont .user-Cont .user-div {

    width: 40px;
    height: 40px;

    /* forzar el alto y ancho */
    min-width: 40px;
    min-height: 40px;

    border-radius: 100%;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-Cont .user-Cont .user-div i {

    color: var(--color-palido);
    font-size: 20px;
}

.card-Cont .user-info {

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-Cont .user-info .user-name {

    font-weight: bold;
    font-size: 22px;
}


.card-Cont .user-info .user-rol {

    color: var(--color-palido);
    /* font-size: 20px; */
    background: var(--color-secundario);
    padding: 2px 10px;
    border-radius: 50px;
    width: fit-content;
    /* text-wrap: nowrap; */
}

/* Contenido de Historial ________________________________________________________________ */

.container-historial .card-Cont .historial-Cont {

    display: grid;

    grid-template-columns: 30px 1fr;

    grid-template-areas:
    "side nameAction"
    "status status"
    ;
}

.container-historial .card-Cont .historial-Cont .historial-nameAction {

    grid-area: nameAction;

    display: flex;
    flex-direction: column;
    /* padding-left: 30px; */
    /* align-items: center; */
    gap: 10px;
}

.container-historial .card-Cont .historial-Cont .historial-side {

    grid-area: side;

    width: 30px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 7px;
}

.card-Cont .historial-Cont .historial-side .historial-sideElement:nth-child(1) {

    min-width: 15px; max-width: 15px;
    min-height: 15px; max-height: 15px;
    border-radius: 100%;
    background-color: var(--color-primario);
}

.card-Cont .historial-Cont .historial-side .historial-sideElement:nth-child(2) {

    margin-left: 6.5px;
    width: 15px;
    height: 100%;
    border-left: 2px solid var(--color-grisMedio);
    border-bottom: 2px solid var(--color-grisMedio);
    border-bottom-left-radius: 12px;
}

.card-Cont .historial-Cont .historial-nameAction .name-Historial {

    font-weight: bold;
    font-size: 30px;
    position: relative;
}

.card-Cont .historial-Cont .historial-nameAction .subname-Historial {

    font-weight: bold;
    color: var(--color-grisOscuro);
}

.card-Cont .historial-Cont .historial-nameAction .name-Description {

    font-weight: normal;
    font-size: 20px;
    position: relative;
}

.container-historial .card-Cont .status-Cont {

    grid-area: status;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.container-historial .card-Cont .status-Cont .status-Element {


    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
}

.card-Cont .status-Cont .status-Element .status-color {

    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: var(--color-primario);
}

.card-Cont .status-Cont .status-Element .status-color.status-activo {

    background: var(--color-verdoso);
}

.card-Cont .status-Cont .status-Element .status-color.status-inactivo {

    background: var(--color-rojizo);
}

.container-historial .card-Cont .action-Cont {

    display: flex;
    /* align-items: center; */
    gap: 10px;
    position: relative;
}

/* Contenido Fecha ____________________________________________________________________ */

.container-historial .card-Cont .date-Cont {

    display: flex;
    /* align-items: center; */
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* Botones ________________________________________________________________________ */

.container-historial .card-Cont .borrarHistorial,
.container-eliminar-panel .btn_borrar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* position: absolute;
    bottom: 10px;
    left: 10px; */
    padding: 5px 15px;
    border-radius: 100px;
    border: none;
    color: var(--color-palido);
    background-color: var(--color-rojizo);
    cursor: pointer;

}

.container-eliminar-panel .botonera--panel__Eliminacion {

    display: flex;
    gap: 5px;
}

/* Panel de eliminación historial ___________________________________________________________*/

.container-eliminar-panel {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 30px;
  background-color: var(--color-primario);
  border-radius: 100px;
  width: 100%;
}

