.seccion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.seccion__tarjeta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 140px;
  min-width: 120px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: var(--border-radius-tarjetas);
  font-family: var(--fuente-titulos);
  color: var(--color-palido);
  font-size: var(--tamano-pequeno);
  font-weight: 400;
  gap: 1rem;
  text-align: center;
}

.seccion__tarjeta--azul {
  background-color: var(--color-secundario);
}

.seccion__tarjeta--amarillo {
  background-color: var(--color-amarillo);
}

.seccion__tarjeta--verde {
  background-color: var(--color-verdoso);
}

.seccion__tarjeta--rojo {
  background-color: var(--color-vino);
}

.seccion__tarjeta--naranja {
  background-color: var(--color-primario);
}

.seccion__valor{
  font-size: var(--tamano-grande);
  font-weight: bold;
}

.seccion__detalle{
  font-size: var(--tamano-mediano);
  font-weight: 500;
}

@media (min-width: 768px) {
  .seccion{
    grid-template-columns: repeat(4, 1fr);
  }
  .seccion__tarjeta{
    display: flex;
    padding: 1.2rem;
  }
  .tarjeta__titulo--dissapear, .lista--planes, .seccion--accesos{
    display: none
  }
  .tarjeta__header-texto{
    font-size: var(--tamano-mediano);
  }
  .seccion__detalle{
    font-size: var(--tamano-grande);
  }
}
