.SubirImagen {
  position: relative;
  display: inline-block;
}

.SubirImagen .boton {

  width: fit-content;
  border: none;
  padding: 10px 20px;
}

.SubirImagen:active .boton {
  background-color: var(--color-palido);
  color: var(--color-primario);
}

#preview {
  margin-top: 20px;
  /* width: 300px; */
  height: 400px;
  max-width: 90%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-sombra);
}