.tarjeta {
    padding: 20px;
    box-shadow: 0 0 10px var(--color-sombra);
    border-radius: var(--border-radius-tarjetas);
    width: 100%;
}


.tarjeta--fila {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.tarjeta--fila-fondo {
    background-color: var(--color-fondoazultranslucido);
    color: var(--color-secundario);
    padding: 10px;
    border-radius: var(--border-radius-botones);
    border: 1px solid var(--color-secundario);
    font-weight: normal;
}

.tarjeta--completa {
    width: 100%;
}

.tarjeta__header {
    color: var(--color-secundario);
    font-size: var(--tamano-pequeno);
}

.tarjeta__titulo {
    font-size: var(--tamano-grande);
    font-weight: bolder;
    font-family: var(--fuente-titulos);
}

.tarjeta__titulo--left {
    align-self: flex-start;
}

.tarjeta__titulo--pequeno {
    font-size: var(--tamano-medio-grande);
}

.tarjeta__icono {
    font-size: var(--tamano-grande);
}

.tarjeta__icono--azul {
    color: var(--color-secundario);
}

.tarjeta__icono--verde {
    color: var(--color-verdoso);
}

.tarjeta__icono--naranja {
    color: var(--color-primario);
}

.tarjeta__icono--fondo-azul {
    background-color: var(--color-azulado-50);
    padding: 8px;
    border-radius: 8px;
}

.tarjeta__icono--fondo-naranja {
    background-color: var(--color-naranjado-50);
    padding: 8px;
    border-radius: 8px;
}

.tarjeta__boton {
    margin-top: 5px;
}

.tarjeta__icono--clickable {
    cursor: pointer;
}

.icono__tarjeta {
    font-size: 40px;
}

.tarjeta-introduccion {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--color-grisOscuro);
    margin-bottom: 20px;
}

.tarjeta-contenido {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.texto--contenido {
    font-size: var(--tamano-pequeno);
    font-family: var(--fuente-contenido);
    text-transform: none;
}

.tarjeta__subtitulo {
    font-size: var(--tamano-medio-grande);
    font-family: var(--fuente-titulos);
    font-weight: bold;
}

.tarjeta__linea {
    width: 150px;
    flex-grow: 1;
}