select {
    -webkit-appearance: none; /* Para Chrome, Safari, Edge */
    -moz-appearance: none;    /* Para Firefox */
    appearance: none;         /* Estándar moderno */
    
    border: none;
    width: 100%;
    padding: 8px 12px 8px 12px; /* 👈 Padding izquierdo limpio ya que no lleva ícono */
    /* font-family: var(--fuente-contenido);
    font-size: var(--tamano-mediano);
    color: var(--color-oscuro); */
}

.ts-wrapper .option {
    background: #f0f0f0;
    color: var(--color-oscuro);
}

.ts-wrapper .option {
    font-family: var(--fuente-contenido);
    display: flex;
    width: 100%;
    background-color: var(--color-palido);
    font-size: var(--tamano-mediano);
}

.ts-wrapper .ts-control {
    border: none;
    border-radius: 4px;
    color: var(--color-oscuro);
    font-size: var(--tamano-mediano);
    font-family: var(--fuente-contenido);
    text-align: start;
    padding-left: 30px;
}
.ts-wrapper .ts-control .item {
    font-family: var(--fuente-contenido);
    color: var(--color-oscuro);
    font-size: var(--tamano-mediano);
}
.ts-wrapper .ts-control input::placeholder{
    color: var(--color-oscuro);
    font-family: var(--fuente-contenido);
    font-size: var(--tamano-mediano);
}
.form__inputBox--selector{
    position: relative;
}
.ts-wrapper{
    width: 100%;
}
#selector__icono{
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-oscuro);
    padding-left: 24px;
    z-index: 2;
}
