.ventanaHistorial{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.ventanaHistorial__titulo{
    font-size: var(--tamano-pequeno);
    text-align: start;
    font-weight: bolder;
    padding: 10px;
    color: var(--color-grisOscuro);
    width: 100%;
    height: 10%;
    border-radius: 10px 10px 0px 0px;
}
.ventanaHistorial__contenido{
    font-size: var(--tamano-pequeno);
    color: var(--color-grisOscuro);
    border-top: 2px solid var(--color-grisOscuro);
    width: 100%;
    height: 300px;
    overflow-y: auto;
    background-color: var(--color-palido);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
}