<div class="container">
    <div class="explicacion">
        <p class="explicacion__titulo"> Factores de riesgo</p>
        <p class="explicacion__subtitulo">Riesgos existentes en el hogar</p>
    </div>
    <button class="boton" id="crear"><i class="ri-add-large-line"></i> Agregar Riesgos</button>
    <div class="container__verRiesgo">
        <div class="verRiesgos">
            <div class="verRiesgos__tipoRiesgo">
                <i class="ri-error-warning-line"></i>
                Alcantarillado viviendas WASAAAAAAAAAAAAAAAAAAAAAAAAA
            </div>
            <div class="verRiesgos__ubicacion">
                <i class="ri-map-2-line"></i>
                Canales de aguaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </div>
            <div class="verRiesgos__distancia">
                <i class="ri-map-pin-line"></i>
                100 m
            </div>
            <div class="verRiesgos__descripcion">
                <p>Descripcion:</p>
                En una pequeña comunidad rodeada de montañas y ríos, las familias trabajan unidas para reducir los
                riesgos naturales, fortaleciendo sus planes de prevención y mejorando la seguridad del entorno mediante
                acciones responsables y constantes cada año.
            </div>
            <button class="boton boton--azul verRiesgos__boton--editar" data-id=1>Editar</button>
            <button class="boton boton--azul verRiesgos__boton--eliminar" data-id="1">Eliminar</button>
            <button class="boton verRiesgos__boton--verMas" data-id="1">Ver más</button>
        </div>
    <div class="container__paginador"></div>
</div>