<div class="container container--noHeader">

    <div class="forgotCont">

        <img src="/logo.png" alt="logoDefensaCivil" class="login__logo">

        <form method="POST" class="form">

            <h2 class="form__titulo">¿Olvidó su contraseña?</h2>

            <div class="form__texto form__texto--center">
                Ingrese su direccion de correo electronico y le enviaremos un
                código de verificación para restablecer su contraseña.
            </div>

            <div class="input">
                <div>
                    <input type="text" class="input--naranja" placeholder="Correo Electronico" id="correoElectronico"
                        autocomplete="off" data-tipo="correo">
                </div>
            </div>

            <button class="boton">Confirmar Correo</button>

        </form>

        <div class="form__subBotones">


            <p class="form__decoration">O</p>

            <button id="volver" class=" boton boton--azul">Volver al inicio</button>
            
        </div>

    </div>
</div>