<div class="container noHeader">
    <form method="POST" class="form">
            <div class="explicacion">
                <p class="explicacion__titulo"> Recuperar Contraseña</p>
                <p class="explicacion__subtitulo">Llene los datos solicitados para enviar codigo de recuperacion</p>
            </div>
        <input type="text" class="form__input--naranja input__correo" placeholder="Correo Electronico" autocomplete="off">
        <button class="form__boton boton">Confirmar Correo</button>
    </form>
    <div class="decoration">
        <div class="decoration__linea"></div>
            <p class="decoration__text">o</p>
        <div class="decoration__linea"></div>
    </div>
        <button id="volver" class="container__boton botonAzul boton" href="">Volver</button>
    </div>
</div>
