<div class="container">
    <div class="dashBoard--admin">
        <div class="dashBoard__botones">
            <button id="peticiones" class="container__boton boton boton--grande boton--azul"><i class="ri-mail-line"></i>
                Peticiones de Activacion</button>
            <button id="" class="container__boton boton boton--grande boton--azul"><i class="ri-user-settings-line"></i>
                Gestion de Usuarios</button>
            <button id="datosMaestros" class="container__boton boton boton--grande"><i class="ri-database-2-line"></i>
                Catalogo de Datos Maestros</button>
            <button id="cerrarSesion" class="container__boton boton boton--rojo"><i class="ri-logout-box-line"></i>
                Cerrar Sesion</button>
        </div>
        <div class="dashBoard__estado">
            <canvas id="canvaEstadoUsuario"></canvas>
        </div>
        <div class="dashBoard__roles">
            <canvas id="canvaRoles"></canvas>
        </div>
        <div class="dashBoard__catalogo">
            <canvas id="canvaCatalogoEstados"></canvas>
        </div>
        <div class="dashBoard__cambios">
            <canvas id="canvaCambiosRoles"></canvas>
        </div>
    </div>
</div>