<div class="container">
    <div class="dashBoard">
        <div class="dashBoard__botones dashBoard__container">
            <button id="peticiones" class="container__boton boton boton--grande boton--azul"><i class="ri-mail-line"></i>
                Peticiones de Activacion</button>
            <button id="gestion" class="container__boton boton boton--grande boton--azul"><i class="ri-user-settings-line"></i>
                Gestion de Usuarios</button>
            <button id="datosMaestros" class="container__boton boton boton--grande"><i class="ri-database-2-line"></i>
                Catalogo de Datos Maestros</button>
            <button id="cerrarSesion" class="container__boton boton boton--rojo"><i class="ri-logout-box-line"></i>
                Cerrar Sesion</button>
        </div>
        <div class="dashBoard__superior_izquierda dashBoard__container">
            <div class="ventanaHistorial">
                <div class="ventanaHistorial__titulo">Historial cambios en usuarios</div>
                <div id="usuariosHistorial" class="ventanaHistorial__contenido"></div>
            </div>
        </div>
        <div class="dashBoard__superior_esquina_derecha dashBoard__container">
            <canvas id="canvaCatalogoEstados"></canvas>
        </div>
        <div class="dashBoard__inferior_izquierda dashBoard__container">
            <canvas id="canvaEstadoUsuario"></canvas>
        </div>
        <div class="dashBoard__inferior_medio dashBoard__container">
            <canvas id="canvaRoles"></canvas>
        </div>
        <div class="dashBoard__inferior_derecha dashBoard__container">
            <div class="ventanaHistorial">
                <div class="ventanaHistorial__titulo">Historial cambios en Datos Maestros</div>
                <div id="catalogoHistorial" class="ventanaHistorial__contenido"></div>
            </div>
        </div>
</div>