<div class="container">
    <section class="explicacion">
        <p class="explicacion__titulo">Hola, Supervisor</p>
        <p class="explicacion__subtitulo">Bienvenido al panel de Control</p>
    </section>

    <h3 class="tarjeta__titulo tarjeta__titulo--left">Estado General</h3>
    <section class="seccion seccion--estado">
        <article class="seccion__tarjeta seccion__tarjeta--azul">
            <i class="ri-file-2-line icono__tarjeta"></i>
            <div class="seccion__tarjeta-contenido">
                <p class="tarjeta__header-texto">Planes Recibidos</p>
                <span id="planesRecibidos" class="seccion__valor">0</span>
                <p class="seccion__detalle">Nuevos</p>
            </div>
        </article>
        <article class="seccion__tarjeta seccion__tarjeta--amarillo">
            <i class="ri-time-line icono__tarjeta"></i>
            <div class="seccion__tarjeta-contenido">
                <p class="tarjeta__header-texto">Planes Recibidos</p>
                <span id="planesEnRevision" class="seccion__valor">0</span>
                <p class="seccion__detalle">En revisión</p>
            </div>
        </article>
        <article class="seccion__tarjeta seccion__tarjeta--verde">
            <i class="ri-checkbox-circle-line icono__tarjeta"></i>
            <div class="seccion__tarjeta-contenido">
                <p class="tarjeta__header-texto">Planes Recibidos</p>
                <span id="planesAprobados" class="seccion__valor">0</span>
                <p class="seccion__detalle">Aprobados</p>
            </div>
        </article>
        <article class="seccion__tarjeta seccion__tarjeta--rojo">
            <i class="ri-close-circle-line icono__tarjeta"></i>
            <div class="seccion__tarjeta-contenido">
                <p class="tarjeta__header-texto">Planes Recibidos</p>
                <span id="planesRechazados" class="seccion__valor">0</span>
                <p class="seccion__detalle">Rechazados</p>
            </div>
        </article>
    </section>

    <h3 class="tarjeta__titulo tarjeta__titulo--left">Últimos planes recibidos</h3>
    <section class="lista lista--planes">
        <article class="tarjeta tarjeta--fila tarjeta--plan">
            <i class="ri-team-line icono__tarjeta tarjeta__icono tarjeta__icono--azul"></i>
            <div class="tarjeta__contenido tarjeta__contenido--linea">
                <p class="tarjeta__titulo tarjeta__titulo--pequeno">Familia Kennedy</p>
                <p class="form__texto form__texto--secundario">Bucaramanga · 30/10/25</p>
                <p class="form__texto form__texto--secundario">Voluntario: Juan Gomez</p>
            </div>
            <span class="tarjeta__estado tarjeta__estado--naranja">Pendiente</span>
        </article>
        <article class="tarjeta tarjeta--fila tarjeta--plan">
            <i class="ri-team-line icono__tarjeta tarjeta__icono tarjeta__icono--azul"></i>
            <div class="tarjeta__contenido tarjeta__contenido--linea">
                <p class="tarjeta__titulo tarjeta__titulo--pequeno">Familia Rodríguez</p>
                <p class="form__texto form__texto--secundario">Bucaramanga · 10/02/26</p>
                <p class="form__texto form__texto--secundario">Voluntario: S. Díaz</p>
            </div>
            <span class="tarjeta__estado tarjeta__estado--naranja">Pendiente</span>
        </article>
        <article class="tarjeta tarjeta--fila tarjeta--plan">
            <i class="ri-team-line icono__tarjeta tarjeta__icono tarjeta__icono--azul"></i>
            <div class="tarjeta__contenido tarjeta__contenido--linea">
                <p class="tarjeta__titulo tarjeta__titulo--pequeno">Familia Rodríguez</p>
                <p class="form__texto form__texto--secundario">Bucaramanga · 10/02/26</p>
                <p class="form__texto form__texto--secundario">Voluntario: S. Díaz</p>
            </div>
            <span class="tarjeta__estado tarjeta__estado--naranja">Pendiente</span>
        </article>
    </section>
    <table class="tabla tabla--supervisor">
        <thead class="tabla__header">
            <tr class="tabla__fila tabla__fila--header">
                <th class="tabla__celda tabla__celda--titulo">Familia</th>
                <th class="tabla__celda tabla__celda--titulo">Organización</th>
                <th class="tabla__celda tabla__celda--titulo">Fecha</th>
                <th class="tabla__celda tabla__celda--titulo">Voluntario</th>
            </tr>
        </thead>
        <tbody class="tabla__contenido">
            <tr class="tabla__fila">
                <td class="tabla__celda">
                        <i class="ri-team-line tabla__icono"></i>
                        <span>Quintero Díaz</span>
                </td>
                <td class="tabla__celda">Bucaramanga</td>
                <td class="tabla__celda">20/04/2026</td>
                <td class="tabla__celda">Jhon Díaz</td>
            </tr>
            <tr class="tabla__fila">
                <td class="tabla__celda">
                        <i class="ri-team-line tabla__icono"></i>
                        <span>Quintero Díaz</span>
                </td>
                <td class="tabla__celda">Bucaramanga</td>
                <td class="tabla__celda">20/04/2026</td>
                <td class="tabla__celda">Jhon Díaz</td>
            </tr>
            <tr class="tabla__fila">
                <td class="tabla__celda">
                        <i class="ri-team-line tabla__icono"></i>
                        <span>Quintero Díaz</span>
                </td>
                <td class="tabla__celda">Bucaramanga</td>
                <td class="tabla__celda">20/04/2026</td>
                <td class="tabla__celda">Jhon Díaz</td>
            </tr>
        </tbody>
    </table>

    <h3 class="tarjeta__titulo tarjeta__titulo--left">Accesos Rápidos</h3>
    <section class="seccion">
        <article class="seccion__tarjeta seccion__tarjeta--azul" id="planFamiliar">
            <i class="ri-file-list-3-line icono__tarjeta"></i>
            <p class="seccion__detalle">Planes Familiares</p>
        </article>
        <article class="seccion__tarjeta seccion__tarjeta--verde" id="voluntarios">
            <i class="ri-team-line icono__tarjeta"></i>
            <p class="seccion__detalle">Voluntarios</p>
        </article>
        <article class="seccion__tarjeta seccion__tarjeta--naranja" id="estadisticas">
            <i class="ri-bar-chart-box-line icono__tarjeta"></i>
            <p class="seccion__detalle">Estadísticas</p>
        </article>
        <article class="seccion__tarjeta seccion__tarjeta--naranja" id="peticiones">
            <i class="ri-git-pull-request-line icono__tarjeta"></i>
            <p class="seccion__detalle">Peticiones</p>
        </article>
    </section>
</div>