<div class="container noHeader">
    <div class="login">
        <img src="logo.png" alt="logoDefensaCivil" class="login__logo">
        <form method="POST" class="form">
            <h2 class="form__titulo">Bienvenido!</h2>
            <h3 class="form__texto">Inicie Sesión</h3>
            <div class="input">
                <div>
                    <input type="text" class="form__input--naranja" id="correo"
                        placeholder="Correo Electronico" autocomplete="off">
                </div>
            </div>
            <div class="input">
                <div>
                    <input type="password" class=" form__input--naranja" id="contrasena"
                        placeholder="Contraseña" autocomplete="off">
                </div>
            </div>
            <button class="form__boton boton">Ingresar</button>
        </form>
        <button id="recuperarContrasena" class='form__link' href=forgotPassword.html>¿Olvido su contraseña?</button>
        <div class="decoration">
            <div class="decoration__linea"></div>
            <p>o</p>
            <div class="decoration__linea"></div>
        </div>
        <button id="crearCuenta" class="container__boton boton--azul boton" href="">Crear Cuenta</button>
    </div>
</div>