.login__mid {
  width: 500px;
  height: 100%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: ease-in-out 1s;
  z-index: 3;
  padding-top: 100px;
}

.login__mid img {

  display: inline-block;
  width: 650px;
  transform: translateY(150px);
}

.login__mid p {
  text-align: center;
  font-weight: 500;
  color: var(--color-secundario);
}

.login__mid p::first-line {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-primario);
}

.auth--container {

  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auth_card {

  width: 100%;
  height: 100%;
  max-width: 600px;
  min-width: 600px;
  max-height: 850px;
  min-height: 500px;
  background: linear-gradient(180deg, rgba(235, 248, 255, 0) 0%, rgba(255, 255, 255, 0.822) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px;
  gap: 12px;
  border-radius: 40px;
  z-index: 2;
  position: relative;
  transition: ease-in-out 1s;
}

.login__left,
.login__rigth {
  position: relative;
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  transition: ease-in-out 0.7s;
}

.auth--container:has(.login.auth_card.active) .login__rigth,
.auth--container:has(.register.auth_card.active) .login__left {
  width: 5px;
}

/* Las cards solo manejan opacidad */
.login.auth_card {
  opacity: 0;
  transform: translateX(-1000px);
  pointer-events: none;
  transition: ease-in-out 0.4s;
}

.register.auth_card {
  opacity: 0;
  transform: translateX(1000px);
  pointer-events: none;
  transition: ease-in-out 0.4s;
}

.login.auth_card.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
  transition: ease-in-out 0.4s;
  
  /* animation: login 2s initial; */
}

/* @keyframes login {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
} */


.register.auth_card.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
  transition: ease-in-out 0.4s;
}

.form__input--password {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.form__input--password label {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  height: 39px;
  align-items: center;
  justify-content: center;
}

.form__input--password i {
  font-size: 20px;
  cursor: pointer;
  color: var(--color-secundario);
}

.form__input {

  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  border-radius: 100px;
}

.form__input--password .form__input,
.changeCont input {
  padding-right: 35px;
}

.form__doubleCont label {

  display: flex;
}

.form__input i,
.form__doubleinput i,
.form__doubleCont label i {

  margin-top: 5px;
  font-size: 25px;
  color: var(--color-secundario);
}

.form__doubleCont .form__input i {
  margin-top: 0;
}

.form__doubleCont {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: auto;
}

.form__doubleinput {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.form__doubleinput input,
.form__doubleinput select,
.form__input input,
.form__input select {
  width: 100%;
  border-radius: 100px;
  padding: 5px 15px;
  font-size: 0.9rem;
  min-height: 27.5px;
}

.register.auth_card .ts-wrapper {

  padding: 0;
  min-height: 27.5px;
}

.register.auth_card .ts-control {
    
  padding: 5px 15px;
  border-radius: 100px;
  flex-direction: row;
  background: transparent;
}

.register.auth_card .ts-wrapper.single.input-active .ts-control {
  background: transparent;
  border: none;
}

.register.auth_card .ts-control .item,
#gender-ts-control {

  font-size: 0.8rem;
}

#seccionales-ts-control,
#organizaciones-ts-control,
#gender-ts-control,
#tiposDocumento-ts-control {

  display: inline-block;
  width: auto;
  min-width: unset;
}

.register.auth_card input::placeholder{

  color: var(--color-grisOscuro);
  font-size: 0.8rem;
}

.section__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 2px;
}

.forgotCont,
.verifyCont,
.changeCont {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  background: linear-gradient(180deg, rgba(235, 248, 255, 0) 0%, rgba(255, 255, 255, 0.822) 100%);
  border-radius: 40px;
  width: 100%;
  min-height: 700px;
  max-width: 600px;
}

.verifyCont input {

  width: 50px;
  height: 50px;
}

.verifyCont .input--azul {

  background: linear-gradient(180deg, rgba(133, 220, 255, 1) 0%, rgba(235, 248, 255, 0) 100%);
}

@media (max-width: 1165px) {

  .auth_card {

    min-width: 550px;
    padding: 60px 30px;
  }

  .login__left,
  .login__rigth {

    width: 550px;
  }
}

@media (max-width: 1129px) {

  .auth--container {
    flex-direction: column;
  }

  .auth_card {
    padding: 20px;
    max-width: 100%;
    min-width: unset;
    min-height: unset;
    width: 100%;
    max-height: none;
    justify-content: center;
  }

  .login__mid {
    display: none;
  }

  .login__left,
  .login__rigth {
    width: 100%;
    /* height: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    opacity: 1;
    transition: ease-in-out 0.7s;
  }


  .auth--container:has(.login.auth_card.active) .login__rigth {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    opacity: 0;
  }

  .auth--container:has(.register.auth_card.active) .login__left {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
    opacity: 0;
  }

  .login.auth_card {

    opacity: 0;
    position: relative;
    height: 650px;
    transform: translateX(0);
    background: none;
  }

  .login.auth_card.active {

    opacity: 1;
    position: relative;
    transform: translateX(0);
  }

  .register.auth_card {

    opacity: 0;
    position: absolute;
    top: -900px;
    transform: translateY(0);
    min-height: 800px;
    justify-content: space-evenly;
  }

  .register.auth_card.active {

    opacity: 1;
    position: relative;
    top: 0;
    transform: translateY(0);
  }

  .form__subBotones {
    gap: 10px;
  }

  .form__decoration {
    padding: 0;
    margin: 5px 0;
  }

  .forgotCont,
  .verifyCont,
  .changeCont {

    padding: 20px;
  }
}

@media (max-width: 765px) {

  .container.container--noHeader {
    padding: 12px;
  }

  .form__doubleCont,
  .form__doubleinput {
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  .form__doubleinput i {
    position: absolute;
  }

  .form__doubleinput .section__input {
    /* position: absolute; */
    padding-left: 35px;
  }
}

@media (max-width: 350px) {

  .container.container--noHeader {
    padding: 0;
  }

  .auth--container {
    
    padding: 10px;
  }

  .login__left, .login__rigth {

    width: 100%;
    min-width: 270px;
    max-width: unset;
  }

  .auth_card {

    padding: 15px;
    min-width: 300px;
    max-width: 300px;
  }

  .login__logo {

    width: 200px;
  }

  .forgotCont,
  .verifyCont,
  .changeCont {

    max-width: 300px;
    min-width: 300px;
    max-height: 600px;
    min-height: 600px;
    gap: 10px;
  }

}