.verPlan {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr 15fr 7fr;
  grid-template-rows: repeat(4,30px);
  grid-template-areas:
    "iconoApellido apellido estado"
    ". detalleUbicacion detalleUbicacion"
    ". detalleFecha detalleFecha"
    "boton boton boton";
  font-family: var(--fuente-contenido);
}
.verPlan__icono{
  text-align: center;
  grid-area: iconoApellido;
  font-size: var(--tamano-grande);
}

.verPlan__apellidos{
  font-size: var(--tamano-grande);
  font-weight: bolder;
  grid-area: apellido;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.verPlan__estado{
  grid-area: estado;
  background-color: var(--color-secundario);
  color: var(--color-palido);
  font-size: var(--tamano-mediano);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.verPlan__estado--naranja{
  background-color: var(--color-naranjado-50);
  color: var(--color-primario);
}

.verPlan__detalles--fecha{
  grid-area: detalleFecha;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--tamano-mediano);
}

.verPlan__detalles--ubicacion{
  grid-area: detalleUbicacion;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--tamano-mediano);
}

.verPlan__boton{
  grid-area: boton;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
