 <div class="container">

    <div class="explicacion">

        <div class="explicacion__titulo">

            <i class="ri-home-4-fill"></i>

            <span>Gráfico de vivienda</span>

            <p>Plano de la información infraestructural de la vivienda.</p>

        </div>

        <img src="asset/ilustracion_vivienda.svg" alt="">

    </div>

    <div class="boton--containerCenter">
        <button class="boton" id="crear"><i class="ri-add-large-line"></i>Agregar Grafico</button>
    </div>
    <div class="container__paginas"></div>
    <div class="container__paginador"></div>
</div>