<div class="container">
    <div class="explicacion">
        <p class="explicacion__titulo">Editar riesgo</p>
        <p class="explicacion__subtitulo">
            Modifique la información del riesgo asociado al plan
        </p>
    </div>

    <form method="POST" class="form">

        <div class="form__inputBox form__inputBox--selector">
            <i class="ri-error-warning-fill" id="selector__icono"></i>
            <select class="form__input input__tipoAmenaza" id="selector">
                <option value="" hidden>Seleccione un tipo de amenaza...</option>
            </select>
        </div>

        <div class="form__inputBox">
            <i class="ri-file-text-fill"></i>
            <input type="text" class="form__input input__descripcion" placeholder="Descripción" autocomplete="off">
        </div>

        <div class="form__inputBox">
            <i class="ri-map-2-fill"></i>
            <input type="text" class="form__input input__ubicacion" placeholder="Ubicación del riesgo"
                autocomplete="off">
        </div>

        <div class="form__inputBox">
            <i class="ri-map-pin-fill"></i>
            <input type="text" class="form__input input__distancia" placeholder="Distancia del riesgo"
                autocomplete="off">
        </div>

        <button class="form__boton boton" disabled>
            Guardar cambios
        </button>

    </form>
</div>