    <div class="container public">
    <div class="explicacion">
        <p class="explicacion__titulo">Registro de la familia</p>
        <p class="explicacion__subtitulo">Llene los datos con la informacion de la familia</p>
    </div>
<form method="POST" class="form">
        <div class="form__inputBox">
            <i class="ri-parent-fill"></i>
            <input type="text" class="form__input input__apellidos" placeholder="Apellidos de la familia" autocomplete="off">
        </div>
    <div class="form__inputBox">
        <i class="ri-map-fill"></i>
        <select class="form__input input__zona">
        <option value ="0" hidden>Seleccione un tipo de zona</option>
        </select>
    </div>
    <div class="form__inputBox">
        <i class="ri-building-fill"></i>
        <select class="form__input input__apartamento">
        <option value ="0" hidden>Seleccione el apartamento</option>
        </select>
    </div>
    <div class="form__inputBox">
        <i class="ri-building-4-fill"></i>
        <select class="form__input input__ciudad" disabled>
        <option value ="0" hidden>Seleccione la ciudad</option>
        </select>
    </div>
    <div class="form_autorizacion">
        <input type="checkbox" id="autorization">
        <p>Autorizo de manera voluntaria, previa e informada el tratamiento de mis datos personales para la elaboración y administración del Plan Familiar de Emergencia, conforme a la Ley 1581 de 2012.</p>
    </div>
    <button class="form__boton boton form__btnSiguiente" disabled>Siguiente</button>
</form>
</div>