<div class="container container--noHeader">
    <div class="introduccion">
        <img src="../../../../public/logo.png" alt="logo" class="introduccion__logo">
        <h2 class="introduccion__titulo">Plan familiar de emergencia</h2>
        <p class="introduccion__texto">Planificación familiar para la prevención y respuesta ante emergencias</p>
        <img src="../../../../public/familiapng.png" alt="imagen" class="introduccion__imagen">
    </div>
    <div class="login login--gap">
        <img src="logo.png" alt="logoDefensaCivil" class="login__logo">
        <form method="POST" class="form">
            <h2 class="form__titulo">Nueva Contraseña</h2>
            <div class="form__texto form__texto--center">Ingrese su nueva contraseña y la confirmacion de la misma, ¡procure no olvidarla!</div>
            <div class="input">
                <input type="password" class="input--naranja" placeholder="Nueva Contraseña" id="nuevaContraseña" data-tipo="contraseña">
            </div>
            <div class="input">
                <input type="password" class="input--naranja" placeholder="Confirmar contraseña" id="confirmarContraseña" data-tipo="contraseña">
            </div>
            <button class="boton">Confirmar</button>
        </form>
    </div>
</div>