<div class="container">
    <div class="explicacion">
        <p class="explicacion__titulo">Hola, Supervisor Perez</p>
        <p class="explicacion__subtitulo">Bienvenido al panel de Control</p>
    </div>
    <h3 class="tarjeta__titulo tarjeta__titulo--left"> Estado General</h3>
    <section class="seccion">
        <div class="seccion__tarjeta seccion__tarjeta--azul">
            <i class="ri-file-2-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>135</span>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--amarillo">
            <i class="ri-time-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>12</span>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--verde">
            <i class="ri-checkbox-circle-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>25</span>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--rojo">
            <i class="ri-close-circle-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>200</span>
        </div>
    </section>
    <h3 class="tarjeta__titulo tarjeta__titulo--left"> Ultimos planes Recibidos</h3>
    <section class="section">
        <div class="tarjeta">
            
        </div>
    </section>
    <h3 class="tarjeta__titulo tarjeta__titulo--left"> Notificaciones</h3>
    <h3 class="tarjeta__titulo tarjeta__titulo--left"> Accesos Rapidos</h3>
</div>