<div class="container">
    <div class="explicacion">
        <p class="explicacion__titulo">Hola, Supervisor Perez</p>
        <p class="explicacion__subtitulo">Bienvenido al panel de Control</p>
    </div>
    <h3 class="tarjeta__titulo tarjeta__titulo--left"> Estado General</h3>
    <section class="seccion">
        <div class="seccion__tarjeta seccion__tarjeta--azul">
            <i class="ri-file-2-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>135</span>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--amarillo">
            <i class="ri-time-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>12</span>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--verde">
            <i class="ri-checkbox-circle-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>25</span>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--rojo">
            <i class="ri-close-circle-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Recibidos</p>
            <span>200</span>
        </div>
    </section>
    <h3 class="tarjeta__titulo tarjeta__titulo--left"> Ultimos planes Recibidos</h3>
    <div class="tarjeta tarjeta--fila">
        <i class="ri-team-line icono__tarjeta"></i>
        <div class="tarjeta__contenido">
            <p class="tarjeta__titulo tarjeta__titulo--pequeno">Familia Kennedy</p>
            <p class="form__texto form__texto--secundario">Bucaramanga | Recibido: 30/10/25</p>
            <p class="form__texto form__texto--secundario">Voluntario: Juan Gomez</p>
            <button class="boton--redondo boton--verde tarjeta__boton">Revisar plan</button>
        </div>
    </div>

    <h3 class="tarjeta__titulo tarjeta__titulo--left">Notificaciones</h3>
    <div class="tarjeta tarjeta--completa">
        <div class="tarjeta--fila">
            <i class="ri-message-2-line tarjeta__icono tarjeta__icono--azul"></i>
            <p class="form__texto form__texto--secundario">Nuevo plan recibido del voluntario L.Gomez</p>
        </div>
        <div class="tarjeta--fila">
            <i class="ri-checkbox-circle-line tarjeta__icono tarjeta__icono--verde"></i>
            <p class="form__texto form__texto--secundario">El voluntario S.Diaz fue Activado con exito</p>
        </div>
    </div>

    <h3 class="tarjeta__titulo tarjeta__titulo--left">Accesos Rapidos</h3>
    <section class="seccion">
        <div class="seccion__tarjeta seccion__tarjeta--azul">
            <i class="ri-file-list-3-line icono__tarjeta"></i>
            <p class="form__titulo">Planes Familiares</p>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--verde">
            <i class="ri-team-line icono__tarjeta"></i>
            <p class="form__titulo">Voluntarios</p>
        </div>
        <div class="seccion__tarjeta seccion__tarjeta--naranja">
            <i class="ri-bar-chart-box-line icono__tarjeta"></i>
            <p class="form__titulo">Estadisticas</p>
        </div>
    </section>
</div>