<section class="banner banner--azul">
    <div class="perfil__avatar flex flex--center">
        <span class="icono__tarjeta">CM</span>
    </div>
    <h2 class="tarjeta__titulo">Carlos Martinez</h2>
    <span class="banner__span">
        Voluntario • Seccional Bucaramanga
    </span>
</section>

<div class="container container--form-fuentes">
    <div class="tarjeta">
        <div class="tarjeta--fila">
            <i class="tarjeta__icono tarjeta__icono--azul ri-git-repository-private-line"></i>
            <p class="tarjeta__header">Informacion de la cuenta</p>
            <hr class="tarjeta__linea">
        </div>
        <form class="form form--grid">
            <div class="form__campo">
                <label class="form__label" for="nombre">Nombres</label>
                <input class="form__input" type="text" id="nombre" name="user_name" placeholder="Carlos" disabled />
            </div>
            <div class="form__campo">
                <label class="form__label" for="apellido">apellidos</label>
                <input class="form__input" type="text" id="apellido" name="user_name" placeholder="Martinez" disabled />
            </div>
            <div class="form__campo">
                <label class="form__label" for="tipoDocumento">Tipo documento</label>
                <input class="form__input" type="text" id="tipoDocumento" name="user_name" placeholder="C.C" disabled />
            </div>
            <div class="form__campo">
                <label class="form__label" for="numeroDocumento">N° documento</label>
                <input class="form__input" type="number" id="numeroDocumento" name="user_name" placeholder="1065828634"
                    disabled />
            </div>
            <div class="form__campo">
                <label class="form__label" for="fechaNacimiento">fecha de nac.</label>
                <input class="form__input" type="text" id="fechaNacimiento" name="user_name" placeholder="20/02/2004"
                    disabled />
            </div>
            <div class="form__campo">
                <label class="form__label" for="genero">genero</label>
                <input class="form__input" type="text" id="genero" name="user_name" placeholder="Masculino" disabled />
            </div>
            <div class="form__campo">
                <label class="form__label" for="name">seccional</label>
                <input class="form__input" type="text" id="name" name="user_name" placeholder="Bucaramanga" disabled />
            </div>
            <div class="form__campo">
                <label class="form__label" for="departamento">Organizacion</label>
                <input class="form__input" type="text" id="departamento" name="user_name" placeholder="Santander"
                    disabled />
            </div>
        </form>
        <div class="tarjeta--fila tarjeta--fila-fondo">
            <i class="tarjeta__icono ri-information-line"></i>
            <p class="texto--contenido">Estos datos solo pueden ser modificados por un administrador</p>
        </div>
    </div>

    <div class="tarjeta">
        <div class="tarjeta--fila">
            <i class="tarjeta__icono tarjeta__icono--azul tarjeta__icono--fondo-azul ri-phone-line"></i>
            <p class="tarjeta__header">Datos de contacto</p>
            <hr class="tarjeta__linea">
            <i class="tarjeta__icono tarjeta__icono--naranja tarjeta__icono--fondo-naranja tarjeta__icono--clickable ri-edit-box-line"
                id="btnEditarContacto"></i>
        </div>
        <div class="form form--alineacion">
            <div class="form__campo">
                <label class="form__label" for="celular">celular</label>
                <input class="form__input" type="number" id="celular" name="user_name" placeholder="Martinez"
                    disabled />
            </div>

            <div class="form__campo">
                <label class="form__label" for="correo">Correo electronico</label>
                <input class="form__input" type="email" id="correo" name="user_name" placeholder="Carlos" disabled />
            </div>

            <div class="boton--containerStarEnd" id="accionesContacto">
                <button type="button" class="boton boton--sinfondo" id="btnCancelarContacto">Cancelar</button>
                <button type="button" class="boton" id="btnGuardarContacto">Guardar cambios</button>
            </div>
        </div>
    </div>
    <div class="tarjeta">
        <div class="tarjeta--fila">
            <i class="tarjeta__icono tarjeta__icono--azul tarjeta__icono--fondo-azul ri-lock-password-line"></i>
            <p class="tarjeta__header">Contraseña</p>
            <hr class="tarjeta__linea">
            <i class="tarjeta__icono tarjeta__icono--naranja tarjeta__icono--fondo-naranja tarjeta__icono--clickable ri-edit-box-line"
                id="btnEditarPassword"></i>
        </div>
        <div class="form form--alineacion">
            <div class="form__campo">
                <label class="form__label" for="contraseña">Contraseña</label>
                <input class="form__input" type="password" id="contraseña" name="user_name"
                    placeholder="******************" disabled />
            </div>

            <div class="boton--containerStarEnd" id="accionesPassword">
                <button type="button" class="boton boton--sinfondo" id="btnCancelarPassword">Cancelar</button>
                <button type="button" class="boton" id="btnGuardarPassword">Guardar cambios</button>
            </div>
        </div>
    </div>

    <div class="boton--containerCenter">
        <button type="button" class="boton boton--grande" id="btnCerrarSesion">Cerrar sesion</button>
    </div>
</div>