<div class="section section--azul">
    <div class="perfil__avatar flex flex--center">
        <span class="icono__tarjeta">CM</span>
    </div>
    <h2 class="tarjeta__titulo">Carlos Martinez</h2>
    <span class="section__span">
        Voluntario • Seccional Bucaramanga
    </span>
</div>

<div class="container">
    <div class="tarjeta">
        <div class="tarjeta--fila">
            <i class="ri-git-repository-private-line"></i>
            <p>Informacion de la cuenta</p>
            <hr class="tarjeta__linea">
        </div>
        <div class="form">
            <label for="nombre">Nombres</label>
            <input type="text" id="nombre" name="user_name" placeholder="Carlos" disabled/>

            <label for="apellido">apellidos</label>
            <input type="text" id="apellido" name="user_name" placeholder="Martinez" disabled/>

            <label for="tipoDocumento">Tipo documento</label>
            <input type="text" id="tipoDocumento" name="user_name" placeholder="C.C" disabled/>

            <label for="numeroDocumento">N° documento</label>
            <input type="number" id="numeroDocumento" name="user_name" placeholder="1065828634" disabled/>

            <label for="fechaNacimiento">fecha de nacimiento</label>
            <input type="text" id="fechaNacimiento" name="user_name" placeholder="20/02/2004" disabled/>

            <label for="departamento">departamento</label>
            <input type="text" id="departamento" name="user_name" placeholder="Santander" disabled/>

            <label for="genero">genero</label>
            <input type="text" id="genero" name="user_name" placeholder="Masculino" disabled/>

            <label for="name">seccional</label>
            <input type="text" id="name" name="user_name" placeholder="Bucaramanga" disabled/>
        </div>
    </div>

    <div class="tarjeta">
        <div class="tarjeta--fila">
            <i class="ri-phone-line"></i>
            <p>Datos de contacto</p>
            <hr class="tarjeta__linea">
            <i class="ri-edit-box-line"></i>
        </div>
        <div class="form">
            <label for="celular">celular</label>
            <input type="number" id="celular" name="user_name" placeholder="Martinez" disabled/>

            <label for="correo">Correo electronico</label>
            <input type="email" id="correo" name="user_name" placeholder="Carlos" disabled/>
        </div>
    </div>
    <div class="tarjeta">
        <div class="tarjeta--fila">
            <i class="ri-lock-password-line"></i>
            <p>Contraseña</p>
            <hr class="tarjeta__linea">
            <i class="ri-edit-box-line"></i>
        </div>
        <div class="form">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="user_name" placeholder="Carlos" disabled/>
        </div>
    </div>
</div>