<div class="container test">
  <div class="explicacion">
    <p class="explicacion__titulo">TEST DE VULNERABILIDAD FAMILIAR</p>
    <p class="explicacion__subtitulo">
      Responda las siguientes preguntas según su apreciación haciendo click en
      SI o NO
    </p>
  </div>
  <div class="paginado"></div>
  <div class="preguntas"></div>
  <div class="botonera">
    <button class="botonera botonera__atras boton" disabled>Atras</button>
    <button class="botonera botonera__siguiente boton">Siguiente</button>
  </div>
</div>
