<div class="container">
    
    <div class="explicacion">

        <div class="explicacion__titulo">

            <i class="ri-team-fill"></i>

            <span>Planes familiares registrados</span>

            <p>Escoje uno de los planes familiares que registraste.</p>

        </div>

        <img src="asset/ilustracion_familia_c.svg" alt="">

    </div>

    <div class="container__filtro"></div>
    <div class="container__paginas">
    </div>
    <div class="container__paginador">
    </div>
</div>