 <div class="container">
    <div class="explicacion">
        <p class="explicacion__titulo">Mascotas o animales</p>
        <p class="explicacion__subtitulo">Informacion base de las mascotas de la familia</p>    
    </div>
    <button class="boton" id="crear"><i class="ri-add-large-line"></i> Agregar Mascota</button>
    <div class="container__verMascota">
    <div class="container__paginador"></div>
</div>
        <!-- Species::create(['name' => 'Perro']);
        Species::create(['name' => 'Gato']);
        Species::create(['name' => 'Conejo']);
        Species::create(['name' => 'Ruedor']);
        Species::create(['name' => 'Ave']);
        Species::create(['name' => 'Insecto']);
        Species::create(['name' => 'Pez']);
        Species::create(['name' => 'Rana']);    
        Species::create(['name' => 'Serpiente']); -->