<main class="container">
  <div class="explicacion">
    <p class="explicacion__titulo">Notificaciones</p>
    <p class="explicacion__subtitulo">Vista dedicada a las notificaciones</p>
  </div>
  <div class="filtros filtros--notificaciones">
    <button class="boton boton--filtro boton--filtro-activo">Todos</button>
    <button class="boton boton--filtro">No leídas</button>
    <button class="boton boton--filtro">Leídas</button>
  </div>

  <div class="container__paginas"></div>

  <div class="container__paginador"></div>
</main>