<div class="container">

    <div class="explicacion">

        <div class="explicacion__titulo">

            <i class="ri-map-pin-2-fill"></i>

            <span>Factores de riesgo</span>

            <p>Información relacionada con distintos riesgos a los que la familia y su hogar estan expuestos.</p>

        </div>

        <img src="asset/ilustracion_voluntaria_a_cabeza.svg" alt="">

    </div>

    <button class="boton" id="crear"><i class="ri-add-large-line"></i> Agregar Riesgos</button>
    <div class="container__paginas"></div>
    <div class="container__paginador"></div>
</div>