<div class="container">
    <div class="explicacion">
        <p class="explicacion__titulo">Agregar riesgo</p>
        <p class="explicacion__subtitulo">Llene los datos con la informacion del riesgo</p>
    </div>
<form method="POST" class="form">
    <div class="form__inputBox form__inputBox--selector">
        <i class="ri-error-warning-line" id="selector__icono"></i>
        <select class="form__input input__tipoAmenaza" id="selector">
        <option value="" hidden>Seleccione un tipo de amenaza...</option>
        </select>
    </div>
    <div class="form__inputBox">
        <i class="ri-file-text-fill"></i>
        <input type="text" class="form__input input__descripcion" placeholder="Descripcion" autocomplete="off">
    </div>
    <div class="form__inputBox">
        <i class="ri-map-2-fill"></i>
        <input type="text" class="form__input input__ubicacion" placeholder="Ubicacion del riesgo" autocomplete="off">
    </div>
    <div class="form__inputBox">
        <i class="ri-map-pin-fill"></i>
        <input type="text" class="form__input input__distancia" placeholder="Distancia del riesgo" autocomplete="off">
    </div>
    <button class="form__boton boton" disabled>Seguiente</button>
</form>
</div>