@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-azulado: #0770cc;
  --color-rojizo: #FF0000;
  --color-rojoMalo: #AD1010;
  --color-verdoso: #36BD36;
  --color-oscuro: #2b2a29;
  --color-naranjado: #ff6600;
  --color-palido: #ffffff;
  --color-grisFondo: #f8f8f8;
  --color-grisSombra: #e3e3e3;
  --color-grisLogin: #DBDBDB;
  --color-grisOscuro: #787878;
  --color-transparencia: rgba(50, 127, 126, 0);
  --tamano-pequeno: 0.7rem;
  --tamano-mediano: 1rem;
  --tamano-grande: 1.5rem;
  --tamano-titulo: 2rem;

}
#app {
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: var(--color-grisFondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-oscuro);
}
#app:has(.login) {
  height: 100vh;
  background-color: var(--color-grisLogin);
}
#app:has(.public) {
  height: 100vh;
}
.container {
  width: 100%;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 15px;
}
.container.login{
  background-color: var(--color-palido);
  width: 90%;
  height: 90%;
}
.container__logo {
  width: 90%;
}
.container__imagen {
  width: 100%;
  border-radius: 10px;
}
.boton {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-naranjado);
  color: var(--color-palido);
  font-weight: bolder;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
  border: 3px solid var(--color-transparencia);
}
.boton:hover {
  background-color: var(--color-palido);
  color: var(--color-naranjado);
  border: 3px solid var(--color-naranjado);
}
.boton:disabled {
  border: 3px solid var(--color-grisOscuro);
  color: var(--color-grisOscuro);
  background-color: var(--color-grisSombra);
  cursor: not-allowed;
}
#autorization {
  transform: scale(1.5);
  accent-color: var(--color-azulado);
}
.form {
  color: var(--color-oscuro);
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form__titulo {
  text-align: center;
}
input{
  font-size: var(--tamano-mediano);
}
select{
  font-size: var(--tamano-mediano);
}
.form__input--naranja {
  padding: 10px;
  border: #ff6600 solid 3px;
  border-radius: 10px;
  text-align: start;
  width: 100%;
  filter: drop-shadow(0px 5px 5px var(--color-grisLogin));
}
.form__link {
  border: none;
  text-decoration: underline;
  color: var(--color-grisOscuro);
  font-weight: bolder;
  font-size: var(--tamano-mediano);
  background: none;
  cursor: pointer;
  transition: 0.3s;
}
.form__link:hover {
  color: var(--color-azulado);
}
.form_autorizacion {
  display: flex;
  gap: 10px;
  font-size: var(--tamano-pequeno);
}
.decoration {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-grisOscuro);
  font-weight: bolder;
}
.decoration__linea {
  width: 125px;
  height: 2px;
  background-color: var(--color-grisOscuro);
}
.boton--azul {
  background-color: var(--color-azulado);
}
.boton--rojo {
  background-color: var(--color-rojoMalo);
}
.boton--azul:hover {
  background-color: var(--color-palido);
  color: var(--color-azulado);
  border: 3px solid var(--color-azulado);
}
.boton--rojo:hover {
  background-color: var(--color-palido);
  color: var(--color-rojizo);
  border: 3px solid var(--color-rojizo);
}
.boton--grande {
  width: 100%;
}
.boton--menu{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: var(--tamano-grande);
  border-radius: 20px;
}
.boton--menu > i{
  margin-left: 20px;
  font-weight: normal;
  font-size: var(--tamano-titulo);
}
.boton--redondo{
  color: var(--color-palido);
  cursor: pointer;
  background-color: var(--color-naranjado);
  padding: 4px 12px;
  border-radius: 20px;
  border: 2px solid var(--color-transparencia);
  transition: 0.3s;
  font-weight: bold;
}
.boton--redondo:hover{
  color: var(--color-naranjado);
  background-color: var(--color-palido);
  border: 2px solid var(--color-naranjado);
}
.header {
  width: 100%;
  height: 50px;
  background-color: var(--color-palido);
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-areas: "logo texto notificationBoton";
  border-bottom: 2px solid var(--color-grisSombra);
}
.header__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__imagen {
  width: 40px;
  height: 40px;
}
.header__texto {
  grid-area: texto;
  font-size: var(--tamano-mediano);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__notification {
  grid-area: notificationBoton;
  font-size: var(--tamano-grande);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-naranjado);
  transition: 0.3s;
  z-index: 1;
}
.header__notification:hover {
  cursor: pointer;
  color: var(--color-azulado);
}
.header__burbuja {
  font-size: var(--tamano-mediano);
  grid-area: notificationBoton;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.header__numerito {
  background-color: var(--color-azulado);
  color: var(--color-palido);
  font-size: var(--tamano-pequeno);
  font-weight: bolder;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 15px;
}
.header__boton {
  grid-area: notificationBoton;
  font-size: var(--tamano-mediano);
  display: flex;
  align-items: center;
  justify-content: start;
}
.header__boton > button {
  width: 90%;
}
body:has(.container.login) .header {
  display: none;
}
body:has(.container.public) .header {
  display: none;
}
.explicacion {
  background-color: var(--color-azulado);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: var(--color-palido);
}
.explicacion__titulo {
  font-size: var(--tamano-grande);
  font-weight: bolder;
  margin-bottom: 5px;
}
.explicacion__subtitulo {
  font-size: var(--tamano-mediano);
}
.form__inputBox--double {
  display: flex;
  width: 100%;
  gap: 5px;
}
.form__inputBox {
  display: flex;
  border: var(--color-grisOscuro) solid 2px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  background-color: var(--color-palido);
  padding: 10px;
}
.form__inputBox--double > .form__inputBox {
  width: 50%;
}
.form__inputBox > .form__input {
  border: none;
  width: 100%;
}
.form__inputBox > i {
  color: var(--color-oscuro);
  font-size: var(--tamano-mediano);
  margin-right: 5px;
}
input::placeholder {
  color: var(--color-grisOscuro);
}
input:focus {
  outline: none;
}
.invisible {
  display: none;
}
.botonOK {
  background-color: var(--color-verdoso);
  color: white;
}
.botonCancelar {
  background-color: var(--color-rojizo);
  color: white;
}
.form__georeferencia {
  font-size: 14px;
}
.form__geo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form__botonGeo {
  background-color: var(--color-naranjado);
  border: none;
  color: var(--color-palido);
  font-weight: bolder;
  border-radius: 5px;
  padding: 0px 10px;
  border: 2px var(--color-palido) solid;
  transition: 0.2s;
}
.form__botonGeo:hover {
  background-color: var(--color-palido);
  color: var(--color-naranjado);
  border: 2px var(--color-naranjado) solid;
}
.container__descripcion {
  color: var(--color-grisOscuro);
  font-size: var(--tamano-pequeno);
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.SubirImagen {
  position: relative;
  display: inline-block;
}

.SubirImagen input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.SubirImagen:hover .boton {
  background-color: var(--color-palido);
  color: var(--color-naranjado);
  border: 3px solid var(--color-naranjado);
}

#preview {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.paginado {
  display: flex;
  min-width: 50%;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.paginado__numero {
  background-color: var(--color-grisLogin);
  color: var(--color-oscuro);
  font-weight: bolder;
  padding: 10px;
  width: 25px;
  height: 25px;
  font-size: var(--tamano-pequeno);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.paginado__numero:hover{
  background-color: var(--color-azulado);
  color: var(--color-palido);
}
.paginado__numero--activo {
  color: var(--color-palido);
  background-color: var(--color-naranjado);
}
.botonera {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.preguntas__contenedor{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "numero descripcion"
    "botones botones";
  background-color: var(--color-palido);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--color-grisFondo);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.preguntas>.preguntas__contenedor:nth-child(even)>.test__numero{
  background-color: var(--color-naranjado);
}
.preguntas__contendor--precaucion{
  background-color: rgb(255, 255, 227);
  border: 2px solid rgb(224, 224, 148);;
}
.test__numero{
  grid-area: numero;
  background-color: var(--color-azulado);
  color: var(--color-palido);
  font-weight: bolder;
  padding: 10px;
  width: 25px;
  height: 25px;
  font-size: var(--tamano-pequeno);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.test__texto{
  grid-area: descripcion;
  font-size: var(--tamano-mediano);
}
.test__opciones{
  grid-area: botones;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.test__opcion{
  background-color: var(--color-palido);
  color: var(--color-oscuro);
  border: 1px solid var(--color-naranjado);
  padding: 2px;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  font-weight: bolder;
  transition: 0.3s;
}
input[type="radio"]:checked  + .test__opcion.test__opcion--si{
  background-color: var(--color-verdoso);
  color: var(--color-palido);
  border: 1px solid var(--color-verdoso);
}
input[type="radio"]:checked  + .test__opcion.test__opcion--no{
  background-color: var(--color-rojizo);
  color: var(--color-palido);
  border: 1px solid var(--color-rojizo);
}
.rutaInvalida{
  color: red;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--tamano-grande);
}
body:has(.rutaInvalida) .header {
  display: none;
}
#app:has(.rutaInvalida){
  background-color: black;
  height: 100vh;
}
.menuFamilia{
  width: 100%;
}
.informacion{
  display: flex;
  color: var(--color-oscuro);
  font-size: var(--tamano-grande);
  justify-content: space-between;
  width: 100%;
  font-weight: bolder;
}
.menuFamilia__boton{
  margin: 10px 0px;
}