@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-azulado: #0770CC;
  --color-oscuro: #2B2A29;
  --color-naranjado: #FF6600;
  --color-palido: #FFFFFF;
  --color-grisFondo: #F8F8F8;
  --color-grisSombra: #E3E3E3;
  --color-grisLogin: #DBDBDB;
  --color-grisOscuro: #787878;
  --tamano-pequeno: 0.6rem;
  --tamano-mediano: 1rem;
  --tamano-grande: 1.5rem;
  --tamano-titulo: 2rem;
}
#app{
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: var(--color-grisFondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
#app:has(.login){
  height: 100vh;
  background-color: var(--color-grisOscuro);
}
#app:has(.public){
  height: 100vh;
  background-color: var(--color-grisFondo);
}
.container{
  width: 90%;
  background-color: var(--color-palido);
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 15px;
}
.container.public{
  background-color: var(--color-grisFondo);
}
.boton{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-naranjado);
  color: var(--color-palido);
  font-weight: bolder;
  background-color: var(--color-oscuro);
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
  border: 3px solid var(--color-palido);
}
.form{
  color: var(--color-oscuro);
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form__titulo{
  text-align: center;
}
.container__logo{
  width: 200px;
}
.form__input--naranja{
  padding: 10px;
  border: #FF6600 solid 3px;
  border-radius: 10px;
  text-align: start;
  width: 100%;
  filter: drop-shadow(0px 5px 5px var(--color-grisLogin));
}
.form__boton{
  margin: auto;
  background-color: var(--color-naranjado);
}
.form__boton:hover{
  background-color: var(--color-palido);
  color: var(--color-naranjado);
  border: 3px solid var(--color-naranjado);
}
.form__link{
  border: none;
  text-decoration: underline;
  color: var(--color-grisOscuro);
  font-weight: bolder;
  font-size: var(--tamano-mediano);
  background: none;
  cursor: pointer;
  transition: 0.3s;
}
.form__link:hover{
  color: var(--color-azulado);
}
.decoration{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-grisOscuro);
  font-weight: bolder;
}
.decoration__linea{
  width: 125px;
  height: 2px;
  background-color: var(--color-grisOscuro);
}
.botonAzul{
  background-color: var(--color-azulado);
}
.botonAzul:hover{
  background-color: var(--color-palido);
  color: var(--color-azulado);
  border: 3px solid var(--color-azulado);
}
.header{
  width: 100%;
  height: 50px;
  background-color: var(--color-palido);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  grid-template-areas: "logo texto notification boton";
  border-bottom: 2px solid var(--color-grisSombra);
}
.header__logo{
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__imagen{
  width: 40px;
  height: 40px;
}
.header__texto{
  grid-area: texto;
  font-size: var(--tamano-pequeno);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__notification{
  grid-area: notification;
  font-size: var(--tamano-mediano);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-naranjado);
}
.header__burbuja{
  grid-area: notification;
  background-color: red;
  width: 10px;
  height: 10px;
  z-index: 1;
}
.header__boton{
  grid-area: boton;
  font-size: var(--tamano-mediano);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__botonBack{
  color: var(--color-palido);
  cursor: pointer;
  background-color: var(--color-naranjado);
  padding: 0px 12px;
  border-radius: 20px;
  border: 2px solid var(--color-palido);
  transition: 0.3s;
}
.header__botonBack:hover{
  color: var(--color-naranjado);
  background-color: var(--color-palido);
  border: 2px solid var(--color-naranjado);
}
.explicacion{
  background-color: var(--color-azulado);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: var(--color-palido);
}
.explicacion__titulo{
  font-size: var(--tamano-mediano);
  font-weight: bolder;
  margin-bottom: 5px;
}
.explicacion__subtitulo{
  font-size: var(--tamano-pequeno);
  font-weight: bolder;
}
.form__inputBox--double{
  display: flex;
  width: 100%;
  gap: 5px;
}
.form__inputBox{
  display: flex;
  border: var(--color-grisOscuro) solid 2px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}
.form__inputBox--double > .form__inputBox{
  width: 50%;
}
.form__inputBox > .form__input{
  border: none;
  width: 100%;
}
.form__inputBox > i{
  color: var(--color-oscuro);
  font-size: var(--tamano-mediano);
  margin-right: 5px;
}
input::placeholder{
  color: var(--color-grisOscuro);
}
input:focus{
  outline: none;
}